<div id="hero-07" style="background: linear-gradient(90deg, rgb(52, 202, 187) 10%, rgba(0, 0, 0, 0.6)), url('images/photo-46.jpg') center center; background-size: cover;">
  <div class="container d-flex flex-column" style="min-height: 105vh;">

  </div>
</div>
<section class="gallery-block cards-gallery">
  <div class="container">
    <div class="heading">
          <h2>Cards Gallery</h2>
    </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href="../img/image1.jpg">
                    <img src="http://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/assets/img/image2.jpg" alt="Card Image" class="card-img-top">
                  </a>
                    <div class="card-body">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                        <button type="button" class="btn btn-atypik btn-md">Découvrir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../img/image2.jpg">
                    <img src="http://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/assets/img/image6.jpg" alt="Card Image" class="card-img-top">
                  </a>
                    <div class="card-body">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                          <button type="button" class="btn btn-atypik btn-md">Découvrir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                  <a class="lightbox" href="../img/image3.jpg">
                    <img src="http://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/assets/img/image5.jpg" alt="Card Image" class="card-img-top">
                  </a>
                    <div class="card-body">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                        <button type="button" class="btn btn-atypik btn-md">Découvrir</button>
                    </div>
                </div>
            </div>
        </div>
