<!-- Footer -->
<footer class="page-footer font-small unique-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">


        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
          <div class="row">

            <img class="logofooter" src="assets/img/LogoV1.png"/>
            <div>
              <h6 class="text-uppercase mt-3 mb-4 linkTxt">Atypik House - eco company © 2018</h6>
                <p class="linkTxt size-f-footer">Notre priorité est de vous proposer un service de qualité<br/> et sincérement éco-reponsable.</p>
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-sm-2 mx-auto txt-align-right">

          <!-- Links -->
          <h6 class="mt-3 mb-4 linkTxt">Navigation</h6>

          <ul class="list-unstyled size-f-footer">
            <li>
              <a class="linkTxt" href="#!">Accueil</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Locations</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Activités</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Mon compte</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->


            <hr class="verticalHr">

        <!-- Grid column -->
        <div class="col-md-2 col-sm-2 mx-auto">

          <!-- Links -->
          <h6 class="mt-3 mb-4 linkTxt">Liens</h6>

          <ul class="list-unstyled size-f-footer">

            <li>

              <a class="linkTxt" href="#!">A propos</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Nous contacter</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Conditions générales</a>
            </li>
            <li>
              <a class="linkTxt" href="#!">Inscrire son logement</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h6 class="mt-3 mb-4 linkTxt">Nous suivre</h6>
          <ul class="list-unstyled">
            <li>
              <a class="li-ic">
                <i class="fa fa-facebook white-text mr-p5"> </i>
              </a>
              <a class="li-ic">
                <i class="fa fa-instagram white-text mr-p5"> </i>
              </a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->




</footer>
<!-- Footer -->
