<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink = "">AtypikHouse</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink = "">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "location">fichelocation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "accommodations">Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Activités</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Le projet Atypik House</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Devenir hôte</a>
    </li>
    <li class="nav-item">
    </li>
  </ul>
</nav>
