<div id="hero-07" style="background: linear-gradient(90deg, rgb(52, 202, 187) 10%, rgba(0, 0, 0, 0.6)), url('images/photo-46.jpg') center center; background-size: cover;">
    <div class="container d-flex flex-column" style="min-height: 105vh;">
    </div>
</div>
<section class="gallery-block cards-gallery">

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8 col-lg-8">
            <h3>Type delogement</h3>
            <h1>Titre</h1>
            <p>Localisation</p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal" style="background: url(myimage.png)">
                            <img class="imgCarrousel img-responsive" src="http://www.rosier.pro/site/images/normal/Ventes571e39c4d350d.jpg" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mod1al title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="http://www.rosier.pro/site/images/normal/Ventes571e39c4d350d.jpg" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal2" style="background: url(myimage.png)">
                              <img class="imgCarrousel img-responsive" src="https://odis.homeaway.com/odis/listing/fc7ff6eb-cb8e-400f-b0ef-089a77d6c2e1.c10.jpg" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mod22222al title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="https://odis.homeaway.com/odis/listing/fc7ff6eb-cb8e-400f-b0ef-089a77d6c2e1.c10.jpg" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal3" style="background: url(myimage.png)">
                              <img class="imgCarrousel img-responsive" src="http://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/assets/img/image6.jpg" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Moda4546546l title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="http://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/assets/img/image6.jpg" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fin carrousel -->
            </div>
            <!--fin de la row gallery-->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-header">
                              Quote
                            </div>

                            <!-- <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div> -->

                            <div class="card-body text-center">
                                <form>
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <label for="staticEmail" class="col-form-label">Email</label>
                                                <input type="text" class="form-control" id="staticEmail1" placeholder="email@example.com">
                                            </div>
                                            <div class="form-group col-lg-6">
                                              <label for="staticEmail" class="col-form-label">Email</label>
                                              <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <label for="staticEmail" class="col-form-label">Adulte</label>
                                                <select class="custom-select" required>
                                                    <option value="">Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="staticEmail" class="col-form-label">Enfant</label>
                                                <select class="custom-select" required>
                                                    <option value="">Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="fakecalendar">
                <!-- <div class="row"> -->
                    <div class="span12">
            		        <table class="table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                  <th colspan="7">
                                    <span class="btn-group">
                                    <a class="btn"><i class="icon-chevron-left"></i></a>
                                	  <a class="btn active">February 2012</a>
                                	  <a class="btn"><i class="icon-chevron-right"></i></a>
                                    </span>
                                  </th>
                                </tr>
                                <tr>
                                  <th>Su</th>
                                  <th>Mo</th>
                                  <th>Tu</th>
                                  <th>We</th>
                                  <th>Th</th>
                                  <th>Fr</th>
                                  <th>Sa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="muted">29</td>
                                    <td class="muted">30</td>
                                    <td class="muted">31</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td class="btn-primary"><strong>20</strong></td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td class="muted">1</td>
                                    <td class="muted">2</td>
                                    <td class="muted">3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <!-- </div> -->
            </div>

            <iframe width="100%" height="300" border-radius="15px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>
        </div>
    </div>
</section>
